name: CI-CD-ML

on:
  push:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Train model
        run: |
          python scripts/train.py

      - name: Read metrics
        id: metrics
        run: |
          echo "F1=$(jq '.f1' metrics.json)" >> $GITHUB_ENV
          echo "MSE=$(jq '.mse' metrics.json)" >> $GITHUB_ENV

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            model.joblib
            metrics.json

  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts

      - name: Compare Metrics
        run: |
          echo "Current F1: $F1"
          echo "Best F1: ${{ vars.BEST_F1 }}"

          if (( $(echo "$F1 <= ${{ vars.BEST_F1 }}" | bc -l) )); then
            echo "ROLL_NO ---- Metric did not improve"
            exit 0
          fi

      - name: Login to DockerHub
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/wine-ml:${{ github.sha }} .

      - name: Push Image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/wine-ml:${{ github.sha }}

      - name: Update BEST_F1 Variable
        run: |
          gh variable set BEST_F1 --body "$F1"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

